@value primaryEggShell, primaryBlack from '../../common/colors.css';

.input {
    /*  */
    display: block;
    position: absolute;
    width: 150px;
    font-size: 1.2em;
    font-weight: bold;
    color: primaryBlack;
    background: primaryEggShell;
    border: none;
    padding: 18px;
    border-radius: 24px;
    overflow: hidden;
    white-space: normal;
    resize: none;
    margin: 2px;
}

/* cursors */
.meta {
    cursor: url('../../images/outline_delete_black_24dp.png'), auto;
}
.alt {
    cursor: grab;
}
.dragging {
    cursor: grabbing;
}
