.webcamAbsolute {
    display: block;
    position: absolute;
    margin: 2px;
    border-radius: 10px;

    width: 200px;
    height: 200px;
    background: black;
}

.webcamRelative {
    position: relative;
}

.webcam {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    border-radius: 10px;
}

/* cursors */
.meta {
    cursor: url('../../images/outline_delete_black_24dp.png'), auto;
}
.alt {
    cursor: grab;
}
.dragging {
    cursor: grabbing;
}
