.webcamWrapper {
    display: block;
    position: absolute;
    margin: 2px;

    border-radius: 10px;
}

.webcam {
    border-radius: 10px;
}

/* cursors */
.meta {
    cursor: url('../../images/outline_delete_black_24dp.png'), auto;
}
.alt {
    cursor: grab;
}
.dragging {
    cursor: grabbing;
}
