@value primaryWhite from '../../common/colors.css';

.board {
    position: relative;
    width: 100%;
    height: 100%;
    background: primaryWhite;
    overflow: scroll;

    /* used for the drag bound. */
    padding: 5px;
}

.motionContainer {
    width: 100%;
    height: 100%;
}
