@value primaryEggShell from './common/colors.css';

* {
    box-sizing: border-box;
}

.appContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.loginComponent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: primaryEggShell;
    opacity: 0.8;
}

@media screen and (max-width: 640px) {
    .loginComponent {
        align-items: flex-start;
    }
}
